[submodule "ZSH-Highlighting"]
  path = roles/zsh/zsh-syntax-highlighting
  url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "ZSH-AutoSuggestions"]
  path = roles/zsh/zsh-autosuggestions
  url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "TPM"]
  path = roles/tmux/files/plugins/tpm
  url = git@github.com:tmux-plugins/tpm.git
  branch = master
[submodule "roles/window-manager/files/quilt"]
	path = roles/window-manager/files/quilt
	url = git@github.com:0x56696B/quilt.git
