!*

vault.secret
dotfiles.log

# Tmux plugins
roles/tmux/files/plugins/*
!roles/tmux/files/plugins/tpm

bin/__pycache__/

# Current kitty theme
roles/terminal/files/current-theme.conf
roles/terminal/files/kitty.conf.bak
roles/terminal/files/theme.conf
roles/terminal/files/theme.conf.bak

# Docker Runtime files
roles/docker/files/*
!roles/docker/files/com.user.colima.plist
!roles/docker/files/default/colima.yaml
